In [1]:
my_team=['김단풍', '이버들', '박바오밥']

In [2]:
print(my_team)

['김단풍', '이버들', '박바오밥']

In [3]:
name=('박','바오밥')

In [4]:
print('박바오밥 사원의 성은 ' + name[0] + '이고, 이름은 ' + name[1] + ' 임이 확실해.')

박바오밥 사원의 성은 박이고, 이름은 바오밥 임이 확실해.

In [5]:
my_team2=[('김','단풍'), ('이','버들'), ('박','바오밥')]

In [6]:
print(my_team2)

[('김', '단풍'), ('이', '버들'), ('박', '바오밥')]

In [7]:
name2={'이름':'Blossom', '성':'May'}

In [8]:
print(name2)

{'이름': 'Blossom', '성': 'May'}

In [9]:
my_team2=[
    {'성':'김', '이름':'단풍'},
    {'성':'이', '이름':'버들'},
    {'성':'박', '이름':'바오밥'},
    {'성':'May', '이름':'Blossom'}
]

In [10]:
print(my_team2)

[{'성': '김', '이름': '단풍'}, {'성': '이', '이름': '버들'}, {'성': '박', '이름': '바오밥'}, {'성': 'May', '이름': 'Blossom'}]

In [11]:
print('{0:3d}'.format(1))
print('{0:3d}'.format(10))
print('{0:3d}'.format(100))

  1
 10
100

In [14]:
print('{0:3s}'.format('*'))
print('{0:3s}'.format('**'))
print('{0:3s}'.format('***'))

*
**
***

In [16]:
print('{0:^5s}'.format('*'))
print('{0:^5s}'.format('* *'))
print('{0:^5s}'.format('* * *'))

  *
 * *
* * *

In [118]:
print('name            price')
print('big star        41.36')
print('small start     {0:05.2f}'.format(2.35))
print('twinkle bulb    87.76')

name            price
big star        41.36
small start     02.35
twinkle bulb    87.76

In [117]:
print('center: {0:05.2f}'.format(2.35))

center: 02.35