In [15]:
members = [
    {
        '성': '김',
        '이름': '이팝',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 40,
    },
    {
        '성': '김',
        '이름': '단풍',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 29,
    },
    {
        '성': '이',
        '이름': '버들',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 34,
    },
    {
        '성': '박',
        '이름': '바오밥',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 27,
    },
    {
        '성': 'May',
        '이름': 'Blossom',
        '소속': '나무팀',
        '국적': '미국',
        '나이': 28,
    },
    {
        '성': '김',
        '이름': '샤프란',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 42,
    },
    {
        '성': '김',
        '이름': '튤립',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 37,
    },
    {
        '성': '박',
        '이름': '수선화',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '박',
        '이름': '앵초',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 28,
    },
    {
        '성': 'Sharon',
        '이름': 'Rose',
        '소속': '꽃팀',
        '국적': '미국',
        '나이': 23,
    },
    {
        '성': '최',
        '이름': '매실',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 50,
    },
    {
        '성': '이',
        '이름': '자두',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '임',
        '이름': '키위',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 26,
    },
]

prices = [300, 500, 350, 110, 280]

In [16]:
my_string = "오늘 점심 뭐먹지?"
print(f'{my_string} 문자열의 길이는 {len(my_string)}입니다.')

오늘 점심 뭐먹지? 문자열의 길이는 10입니다.

In [19]:
total_len_name = 0

for member in members:
    total_len_name += len(member['이름'])
print(f'사원들 이름의 총 길이는 {total_len_name}입니다.')

사원들 이름의 총 길이는 36입니다.

In [22]:
print(f'상품의 총 가격은 {sum(prices)}입니다')

상품의 총 가격은 1540입니다

In [24]:
print(f'상품 중 가장 높은 가격은 {max(prices)}입니다.')

상품 중 가장 높은 가격은 500입니다.

In [25]:
print(f'상품 중 가장 낮은 가격은 {min(prices)}입니다.')

상품 중 가장 낮은 가격은 110입니다.